doctype html
html
    title Leafify


    nav
            li
                a(href='http://localhost:3000') Home
            li
                a(href='http://localhost:3000/about') About
            li
                a(href='http://localhost:3000/login') Login/Signup
            li
                a(href='#') More

